<div>
  <div *ngIf="members">

    <div *ngIf="update==false">
      <form [formGroup]="form" (ngSubmit)="addShift()">
    
        <div *ngFor="let property of properties" class="form-row">
          <app-shift-property  [property]="property" [form]="form"></app-shift-property>
        </div>
        
        <div class="form-row">
          <button type="submit" [disabled]="!form.valid">Save</button>
        </div>

      </form>
    </div>


    <div *ngIf="update==true">

      <form [formGroup]="form" >
    
            <div *ngFor="let property of properties" class="form-row">
              <app-shift-property [property]="property" [form]="form"></app-shift-property>
            </div>
            
            <div class="form-row">
              <button id="toChangeEnable" (click)="toChangeEnable()">Enable Update</button>
            </div>

            <div class="form-row">
                <button id="update" [disabled]="!validUpdate" (click)="updateShift()">Update</button>
            </div>

      </form>


    </div>

  </div>
</div>



